<!DOCTYPE html>
<html>
  <head>
    <style>
      div.background {
        border: 1px solid rgb(255, 255, 255);
      }
 
      div.transparent {
        margin: 4px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.8;
      }
 
      div.transparent p {
        margin: 2%;
        font-weight: bold;
        color: #000000;
      }
    </style>
  </head>
</html>
 
<h2>AJ Garcia
  <small>&nbsp;"El Coyote"</small>
</h2>
<img src="https://pm1.narvii.com/6117/4c93936b6e48cbdc4073991a062be12f99b455ff_hq.jpg" style="width:200px;height: 200px;">
 
<div class="background">
  <div class="transparent">
    <p>Whether we wanted it or not, we've stepped into a war with the Cabal on Mars. So let's get to taking out their command, one by one. Valus Ta'aurc. From what I can gather he commands the Siege Dancers from an Imperial Land Tank outside of Rubicon. He's well protected, but with the right team, we can punch through those defenses, take this beast out, and break their grip on Freehold.</p>
  </div>
</div>
<br><br>
 
<h2>Kendall Dyson
  <small>&nbsp;"Management"</small>
</h2>
<img src="https://i.pinimg.com/236x/9e/4e/44/9e4e44d0c53c14ed9772c3597a9a6c72.jpg" style="width:200px;height: 200px;">
 
<div class="background">
  <div class="transparent">
    <p>Funny story: Remember that Centurion Oryx took right after you landed on the Dreadnaught, then the Centurion and the taken Ogre tried to stop you from killing the King? Heh... didn't work. So the Centurion's bond brothers are pretty angry they lost their commander. They're leading a team to blow up the Dreadnaught's core. Core goes... most of the system goes with it. You're going to make sure that doesn't happen.</p>
  </div>
</div>
<br><br>
 
<h2>Jesse Shiner
  <small>&nbsp;"Stress Ball"</small>
</h2>
<img src="https://lumiere-a.akamaihd.net/v1/images/ralph-headretina_f6ef0c9b.jpeg?region=0,0,450,450" style="width:200px;height: 200px;">
 
<div class="background">
  <div class="transparent">
    <p>“Wrong! Viruses do not stop! Once those Cy-Bugs finish off Sugar Rush, they’ll invade every other game until this arcade is nothing but a smoking husk of forgotten dreams!” -- Sergeant Calhoun --</p>
  </div>
</div>
<br><br>
 
<h2>Kamario Powell
  <small>&nbsp;"Drax"</small>
</h2>
<img src="https://pbs.twimg.com/profile_images/422691184667267072/Wr7tOTUk_400x400.jpeg" style="width:200px;height: 200px;">
 
<div class="background">
  <div class="transparent">
    <p>Taniks has no House. He kneels before no banner, owes allegiance to no Kell. He is a murderer, and very good at what he does. I have been tracking him since Wolves broke their chains, yes? Now Taniks works for Wolf pack. But not for long.</p>
  </div>
</div>
<br><br>
