extends layout
block content
    #baner.page-header
        .row.banner
            .col-12
              h1 title
        .row
            .col-md-6.col-sm-12
                p !{content.replace(/\n/g, '<br/>')}