extends layout

block content
    .row.banner
        .col-lg-12
            h1 Starcups
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-md-6
                    p.rating
                      i.fas.fa-star
                      i.fas.fa-star
                      i.fas.fa-star
                      i.fas.fa-star
                      i.fas.fa-star
                    p.location 123 Street St
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Opening hours
                        .panel-body
                            
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Facilities
                        .panel-body
                          span-badge.badge-warning
                            i.fa.fa-check

                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2 Location map
                        .panel-body
                            img.img-responsive.img-rounded(src='#{location.map}')

            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href='/location/starcups/review/new') Add Review
                            h2 Customer reviews


        .col-xs-12.col-md-3
            p.lead= sidebar
            p= sidebarSmall