extends layout

block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p
                | Loc8r was created to help people find places to sit down and get a bit of work don3e.
                br
                br
                | This would normally be a really good idea for a website or webapp....if we lived in the 90's.
                | And g**gle maps didn't already exist

