mixin outputRating(rating)
    small &nbsp;
    -   for(let i = 1; i <= rating; i++)
            i.fas.fa-grin-stars(style='color:gold') 
    -   for(let i = rating; i <= 5; i++)
            i.far.fa-meh