doctype html
html
  head
    title= title
    <!-- 2. Include Bootstrap and Font Awesome CSS -->
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
