extends layout
block content
    .row.banner
        .col-12
            h1=title
    .row
        .col-12.col-lg-8
            p
                |Loc9r was created to help people find places to sit
                |down and get a bit of work done.
                |sadfsadfsadfsadfsadf a bit of work done.
                |sadfsadfsadfsadfsafa bit of work done. a bit of work 
                br
                |basdfasdfasdfffffffffffffffffffffffffffffffffffffff